run = "npm run dev"
modules = ["nodejs-22"]
hidden = [".config", "tsconfig.json", "tsconfig.node.json", "vite.config.js", ".gitignore"]
entrypoint = "src/App.tsx"

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
deploymentTarget = "static"
build = ["sh", "-c", "npm install && npm run build"]
publicDir = "dist"
run = ["sh", "-c", ""]

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 5174
externalPort = 3000

[[ports]]
localPort = 5175
externalPort = 3001

[[ports]]
localPort = 5176
externalPort = 3002

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 44532623
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Start Preview"
author = 44532623
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run preview"
